<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='images/Yggdrasil.png') }}" type="image/png">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bot.css') }}">
    <script src="{{ url_for('static', filename='js/bot.js') }}"></script>
    <title>I am GROOT</title>
    
</head>
<body>
    <iframe src="{{ url_for('static', filename='backanime.html') }}" style="width: 100%; height: 100vh; position: absolute; z-index: -1;"></iframe>

    <div id="h1"><span id="typeText"></span></div>
    <!-- <div id="h1"> Good Day, How Can I Assist?</div> -->
    <div id="chatbox"></div>

    <form onsubmit="event.preventDefault(); sendMessage();">
        <input type="text" id="userInput" placeholder="Ask anything..." autocomplete = "off" required>
        <button type="submit" id="button">Send</button>
    </form>

    <div id="overlay"></div>
    <div id="customAlert">
        <p>Developer: @BSKN<br><br>This is a project in development.<br><br>Stay tuned for exciting features!</p>
        <button onclick="closeAlert()">OK</button>
    </div>
    
</body>
</html>
